@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans+JP:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

header {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: "Grandstander", cursive;
  }
}

.scoreUpdate {
  color: #ffd28f;
  display: flex;
  justify-content: space-evenly;
  background-color: #34495e;
  height: 2vh;
  padding-top: 8px;

  // .lives {
  //   background-color: #ffdca8;
  //   height: 8px;
  //   width: 8px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   position: relative;
  //   top: -1px;
  // }

  // .lives::after {
  //   content: '';
  //   position: absolute;
  //   width: 12px;
  //   height: 12px;
  //   border-radius: 50%;
  //   border: 2px solid #ffb84e;
  //   top: -4px;
  //   left: -4px;
  // }

  // .lives:first-child {
  //   margin-left: 8px;
  // }
}

main {
  height: 73vh;
  background-color: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .center {
    width: 65%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2c3e5070;
    border-radius: 10px;
    box-shadow: 0 7px 12px #00000040, 0 -7px 12px #00000040;

    .msg {
      font-size: 1.1rem;
      color: #fff;
      margin: 25px 0;
    }

    .guess-box {
      outline: none;
      border: none;
      padding: 10px 2px;
      text-align: center;
      width: 55%;
      background-color: #dbebff;
      border-radius: 12px;
      margin-bottom: 15px;
      transition: 0.2s;
      font-size: 1.2rem;
    }

    .guess-box:focus {
      background-color: #fff;
      color: #333;
    }

    .hide {
      display: none;
    }

    .btn {
      padding: 10px 8px;
      margin: 15px 0 25px 0;
      border: none;
      outline: none;
      color: #333;
      font-size: 1.3rem;
      border-radius: 5px;
      background-color: #ffdca8;
      font-weight: 700;
      cursor: pointer;
    }

    .btn:focus,
    .btn:active,
    .btn:focus-within {
      background-color: #ffd28f;
      box-shadow: 0 0 8px #ffb84e;
    }
  }
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;
  background-color: #1b2631;

  a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 400;
  }
}